{{#> ../layouts/base TITLE='Prototype Kit - Reports' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      {{> ../components/header-app/header-app }}
      {{> ../components/global-nav/global-nav NAV1_ACTIVE=true }}
    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Crop Report</h1>

        {{> ../components/stepped-tabs/stepped-tabs STEP1=true }}

        <div>
          <p class="fsa-text--lead">Similique natus laborum provident porro necessitatibus, quibusdam recusandae alias delectus? Ut temporibus atque consequuntur sint saepe veritatis ab dolore voluptatum, eligendi iure!</p>

          <p>
            <button
              role="button"
              type="button"
              aria-behavior="modal-show"
              data-behavior="open-modal"
              aria-controls="UNIQUE-ID-emp-new"
              aria-expanded="false"
              class="fsa-btn fsa-btn--secondary"
            >
              View Crop Report
            </button>
          </p>

          



      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel GROWL_ID="growl_cancel_steps" }}
    {{> ../components/modal/modal MODAL_URL_1="sections.html" }}
    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}

    {{> ../includes/scripts }}

  {{/inline}}

{{/../layouts/base }}
