{{#> ../layouts/base TITLE='Prototype Kit - Date Picker Example' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      {{> ../components/header-app/header-app }}
    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Date Picker Example</h1>

        <div>
          <p>

          {{> ../components/date-picker/date-picker
            FD_ID="date-picker-basic"
            FD_LABEL="Select a Date"
            FD_MESSAGE="Used to select a date from a calendar"
            FD_HELP_ID="date-picker-basic__help"
            FD_HELP="Example 05/15/2015"
          }}
          
          </p>
        </div>

      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->

    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}

    {{> ../includes/scripts }}
    
    <script>
      // create object that will be used by date-picker in main.js
      var datePickerOne = {
        formElements: { "date-picker-basic": "%m/%d/%Y" },
        disabledDays: [0,0,0,0,0,1,1],
      };
    </script>

  {{/inline}}

{{/../layouts/base }}
