{{#> ../layouts/base TITLE='Prototype Kit - Date Picker Example' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      {{> ../components/header-app/header-app }}
    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Select a Day</h1>

        <div>

          
          
        </div>

      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->

    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}

    {{> ../includes/scripts }}

  {{/inline}}

{{/../layouts/base }}
