{{#> ../layouts/base TITLE='Prototype Kit - Home' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      <div class="fsa-header-app">
        <div class="fsa-header-app__bd">
          <div class="fsa-header-app__primary">
            <a class="fsa-header-app__home-link" href="sections.html" title="Link to YAFANS home">
              <span class="fsa-header-app__app-name">
                <abbr class="fsa-header-app__app-abbr" title="Electronic Loan Deficiency Payment Schedule">YAFANS</abbr>
                <span class="fsa-header-app__app-full">Yet Another Farm App Name Superlong</span>
              </span>
            </a>
          </div>
          <div class="fsa-header-app__secondary">
            <span class="fsa-header-app__profile">
              <a href="" class="fsa-header-app__profile-link">
                <span class="fsa-header-app__profile-name" title="Francis Christopher Rupert">Francis Christopher Rupert</span>
                <span class="fsa-header-app__profile-expand"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
      
      {{> ../components/global-nav/global-nav NAV1_ACTIVE=true }}

    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        {{> ../components/stepped-tabs/stepped-tabs STEP1=true }}

        <h1>Employee Data</h1>
        <p class="fsa-text--lead">Similique natus laborum provident porro necessitatibus, quibusdam recusandae alias delectus? Ut temporibus atque consequuntur sint saepe veritatis ab dolore voluptatum, eligendi iure!</p>
      </div>
    </div>
    
    <div class="fsa-section">
      <div class="fsa-section__bd">

        <button
          role="button"
          type="button"
          aria-behavior="modal-show"
          data-behavior="open-modal"
          aria-controls="UNIQUE-ID-emp-new"
          aria-expanded="false"
          class="fsa-btn fsa-btn--secondary">
          Add New Employee
        </button>

      </div>
    </div>

    <div class="fsa-section">
      <div class="fsa-section__bd">
        <table class="fsa-table fsa-table--borderless fsa-table--responsive fsa-table--responsive-horizontal">
          <caption class="sr-only">Employees</caption>
          <thead>
            <tr>
              <th scope="col" class="fsa-table__th--sticky" aria-sort="ascending"><button class="fsa-table__sort fsa-table__sort--ascending" type="button">ID</button></th>
              <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">First Name</button></th>
              <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Last Name</button></th>
              <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Job Title</button></th>
              <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Hire Date</button></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">11211</button></th>
              <td aria-label="First Name" scope="row">Jimmy</td>
              <td aria-label="Last Name" scope="row">McNulty</td>
              <td aria-label="Job Title" scope="row">Patrol Officer</td>
              <td aria-label="Hire Date" scope="row"><time datetime="1991-09-01">1991-09-01</time></td>
            </tr>
            <tr id="UNIQUE-ID__employee-56190">
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">56190</button></th>
              <td aria-label="First Name" scope="row">Stringer</td>
              <td aria-label="Last Name" scope="row">Bell</td>
              <td aria-label="Job Title" scope="row">Lieutenant</td>
              <td aria-label="Hire Date" scope="row"><time datetime="2000-06-01">2000-06-01</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">78451</button></th>
              <td aria-label="First Name" scope="row">Lestor</td>
              <td aria-label="Last Name" scope="row">Freamon</td>
              <td aria-label="Job Title" scope="row">Major Case Unit Detective</td>
              <td aria-label="Hire Date" scope="row"><time datetime="1975-12-05">1975-12-05</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">84200</button></th>
              <td aria-label="First Name" scope="row">Cedris</td>
              <td aria-label="Last Name" scope="row">Daniels</td>
              <td aria-label="Job Title" scope="row">Deputy Commissioner</td>
              <td aria-label="Hire Date" scope="row"><time datetime="1985-11-29">1985-11-29</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
            <tr>
              <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
              <td aria-label="First Name" scope="row">[first_name]</td>
              <td aria-label="Last Name" scope="row">[last_name]</td>
              <td aria-label="Job Title" scope="row">[position]</td>
              <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Pagination">
          <div class="fsa-pagination" data-current="1" data-total="120">
            <ul class="fsa-pagination__list">
              <li class="fsa-pagination__item fsa-pagination__item--previous" aria-hidden="true">
                <span class="fsa-pagination__label fsa-pagination__label--previous fsa-pagination__label--disabled">Previous</span>
              </li>
              <li class="fsa-pagination__item">
                <span class="fsa-pagination__label fsa-pagination__label--current" aria-current="true">1</span>
              </li>
              <li class="fsa-pagination__item">
                <a class="fsa-pagination__label" href="link.html">2</a>
              </li>
              <li class="fsa-pagination__item" aria-hidden="true">
                <span class="fsa-pagination__label">…</span>
              </li>
              <li class="fsa-pagination__item">
                <a class="fsa-pagination__label" href="link.html">120</a>
              </li>
              <li class="fsa-pagination__item fsa-pagination__item--next">
                <a class="fsa-pagination__label fsa-pagination__label--next" href="link.html">Next</a>
              </li>
            </ul>
          </div>
        </nav>

        {{> ../components/stepped-controls/stepped-controls
          CURRENT_STEP="1"
          TOTAL_STEPS="5"
          BACK_URL="index.html"
          BACK_LABEL="Back"
          CONTINUE_URL="sections.html"
          CONTINUE_LABEL="Save & Continue"
          USE_GROWL_ON_CANCEL=true  
          GROWL_ID="growl_cancel_steps"      
        }}


      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel GROWL_ID="growl_cancel_steps" }}
    {{> ../components/modal/modal MODAL_URL_1="sections.html" }}
    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}
    
    {{> ../includes/scripts }}

  {{/inline}}



{{/../layouts/base }}
