{{#> ../layouts/base TITLE='Prototype Kit - Training Videos' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      {{> ../components/header-app/header-app URL_PREFIX="./" }}
    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Prototype Kit Training</h1>
        <div>
          
          <p class="fsa-text--lead">Below are a collection of Training videos that illustrate how to get up and running with the FSA Prototype Kit.</p>

          <iframe width="100%" height="693" src="https://www.youtube.com/embed/RGurnlgbuQ4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe>

          <button class="fsa-btn fsa-btn--flat">View Video Transcript</button>

        </div>

      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "footer-block"}}
    <footer>
      {{> ../components/footer/footer-topper }}
      {{> ../components/footer/footer-footer URL_PREFIX="./" }}
      {{> ../components/footer/footer-screen-id SCREEN_ID="XYZ-WEB-007" }}
    </footer>
  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->

    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}

    {{> ../includes/scripts }}

  {{/inline}}

{{/../layouts/base }}
